.contact {
  background-color: #f5f5f5;
  text-align: center;
  margin-bottom: 0; /* Ajustado a 0 para eliminar el margen */
  padding-bottom: 0; /* Ajustado a 0 para eliminar el relleno */
}

.contact h3 {
  font-family: "HolidayFree", sans-serif; /* Aplica la fuente HolidayFree */
  font-size: 32pt; /* Tamaño de fuente de 32 puntos */
  background-color: #f2bac9; /* Color de fondo */
  color: #251609; /* Color de texto */
  width: 100%;
  height: 100px;
  display: flex; /* Para centrar verticalmente */
  justify-content: center; /* Para centrar horizontalmente */
  align-items: center; /* Para centrar verticalmente */
  margin: 0;
}

/* ESTILOS PARA DISPOSITIVOS PEQUEÑOS */
@media (max-width: 768px) {
  .contact h3 {
    height: 70px;
    font-size: 20pt;
  }
}
