.sobreNosotros {
  position: relative;
}

.sobreNosotros h3 {
  font-family: "HolidayFree", sans-serif;
  font-size: 32pt;
  background-color: #f2bac9;
  color: #251609;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.sobreNosotros img {
  width: 100%;
  height: 899px;
  object-fit: cover;
  margin-top: 0;
}

.sobreNosotros p {
  position: absolute;
  top: 15rem;
  left: 45rem;
  bottom: 576px;
  right: 52.72px;
  font-family: "Montserrat", sans-serif;
  color: #251609;
  font-size: 26pt;
  text-align: center;
}

.logoFinal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoFinal img {
  width: 155px;
  height: 139px;
  margin-top: 95px;
  margin-bottom: 71px;
}

/* ESTILOS PARA DISPOSITIVOS PEQUEÑOS */
@media (max-width: 768px) {
  .sobreNosotros img {
    display: none;
  }

  .descripcion {
    background-color: #dcd5f5;
  }

  .sobreNosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dcd5f5;
  }

  .sobreNosotros h3 {
    height: 70px;
    width: 100%;
    font-size: 20pt;
    background-color: #f2bac9;
    margin-top: 0;
  }

  .sobreNosotros p {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 16pt;
    text-align: center;
  }

  .logoFinal img {
    width: 120px;
    height: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
