.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 280px;
  height: 500px;
  background-color: #dcd5f5;
  color: #251609;
  border-radius: 10px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}

.card img {
  width: 280px;
  height: 280px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card h5 {
  font-family: "CorporativeRegular", sans-serif;
  font-size: 18pt;
  margin: 10px 0;
}

.card p {
  font-family: "Montserrat", sans-serif;
  font-size: 14pt;
  margin: 5px 0;
  text-align: center;
}

/* ESTILOS PARA DISPOSITIVOS PEQUEÑOS */
@media (max-width: 768px) {
  .card-container {
    justify-content: center;
  }

  .card {
    margin: 1rem 0.5rem; /* Reducir el margen vertical y horizontal */
  }
}
