.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 280px;
  height: auto; /* Ajustar altura automáticamente */
  background-color: #dcd5f5;
  color: #251609;
  border-radius: 10px;
  margin: 2rem; /* Incrementar margen para más espacio entre las tarjetas */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem; /* Añadir padding para espaciar el contenido */
  overflow: hidden; /* Ocultar cualquier desbordamiento */
}

.card img {
  width: 100%; /* Ajustar la imagen al ancho del contenedor */
  height: auto; /* Ajustar la altura automáticamente */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card h5 {
  font-family: "CorporativeRegular", sans-serif;
  font-size: 16pt; /* Reducir tamaño de la fuente */
  margin: 10px 0;
}

.card p {
  font-family: "Montserrat", sans-serif;
  font-size: 12pt; /* Reducir tamaño de la fuente */
  margin: 5px 0;
  text-align: center;
  padding: 0 10px; /* Añadir padding para que el texto no toque los bordes */
}

/* ESTILOS PARA DISPOSITIVOS PEQUEÑOS */
@media (max-width: 768px) {
  .card-container {
    justify-content: center;
  }

  .card {
    margin: 1rem 0.5rem; /* Reducir el margen vertical y horizontal */
  }

  .card img {
    width: 100%; /* Ajustar la imagen al ancho del contenedor */
    height: auto; /* Ajustar la altura automáticamente */
  }

  .card h5 {
    font-size: 14pt; /* Reducir tamaño de la fuente para móviles */
  }

  .card p {
    font-size: 12pt; /* Ajustar tamaño de la fuente para móviles */
  }
}
