@font-face {
  font-family: "HolidayFree";
  src: url("../../fonts/HolidayFree.otf"); /* Ruta relativa a la carpeta de fuentes */
}
@font-face {
  font-family: "CorporativeRegular";
  src: url("../../fonts/CorporativeRegular.otf"); /* Ruta relativa a la carpeta de fuentes */
}

.products {
  background-color: #f5e4d5;
  text-align: center;
  padding-top: 20px;
  width: 100%;
}

.products h3 {
  font-family: "HolidayFree", sans-serif; /* Aplica la fuente HolidayFree */
  font-size: 32pt; /* Tamaño de fuente de 32 puntos */
  background-color: #f2bac9; /* Color de fondo */
  color: #251609; /* Color de texto */
  width: 100%;
  height: 100px;
  display: flex; /* Para centrar verticalmente */
  justify-content: center; /* Para centrar horizontalmente */
  align-items: center; /* Para centrar verticalmente */
}

.products h4 {
  font-family: "CorporativeRegular", sans-serif;
  font-size: 24pt;
  height: 100px;
  color: #251609;
  margin-top: 75px;
}

.contenedorCards {
  margin-left: 5rem;
  margin-right: 5rem;
}

.cards {
  padding: 0 15px; /* Añade padding a los contenedores de las tarjetas */
}

.slick-prev,
.slick-next {
  width: 30px;
  height: 30px;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}

.slick-prev {
  left: -35px;
}

.slick-next {
  right: -35px;
}

/* ESTILOS PARA DISPOSITIVOS PEQUEÑOS */
@media (max-width: 768px) {
  .products {
    padding-top: 10px;
  }
  h3 {
    height: 70px;
    font-size: 24pt;
  }
  h4 {
    height: 70px;
    background-color: #f5e4d5;
    color: #251609;
    font-size: 24pt;
  }
  .contenedorCards {
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .slick-prev,
  .slick-next {
    width: 30px;
    height: 30px;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
  }

  .slick-prev {
    left: 50px;
  }

  .slick-next {
    right: 50px;
  }
}
