@font-face {
  font-family: "corporative-light";
  src: url("../../fonts/corporative-light.otf"); /* Ruta relativa a la carpeta de fuentes */
}

.services {
  background-color: #f5e4d5;
  text-align: center;
  width: 100%; /* Ancho del contenedor al 100% */
  padding: 20px 0; /* Ajustar el relleno para que no haya espacio adicional */
  box-sizing: border-box; /* Incluye el relleno en el ancho total del elemento */
  overflow: hidden; /* Asegurar que no haya desbordamiento */
}

.services h3 {
  font-family: "HolidayFree", sans-serif;
  font-size: 32pt;
  background-color: #f2bac9;
  color: #251609;
  width: 100%; /* Ancho del título al 100% */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.containerService {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
  grid-template-areas:
    "imagen1 descripcion1"
    "descripcion2 imagen2";
  padding: 20px;
  box-sizing: border-box;
}

.imagen1,
.imagen2 {
  width: calc(100% - 40px);
  height: auto;
  max-width: 100%;
  border-radius: 21px;
  margin: 20px;
}

.descripcion1,
.descripcion2 {
  padding: 20px;
  box-sizing: border-box;
}

.descripcion1 {
  grid-area: descripcion1;
}

.descripcion2 {
  grid-area: descripcion2;
}

.descripcion1 h4,
.descripcion2 h4 {
  font-family: "corporative-light", sans-serif;
  color: #251609;
  font-size: 24pt;
  margin-top: 20px;
  text-align: start;
}

.descripcion1 p,
.descripcion2 p {
  font-family: "Montserrat", sans-serif;
  color: #251609;
  font-size: 20pt;
  text-align: start;
  margin: 10px 0;
}

/* ESTILOS PARA DISPOSITIVOS PEQUEÑOS */
@media (max-width: 768px) {
  .services {
    padding: 20px 0;
  }

  .services h3 {
    height: 70px;
    font-size: 20pt;
    width: 100%;
    margin: 0;
  }

  .containerService {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "imagen1"
      "descripcion1"
      "imagen2"
      "descripcion2";
    padding: 10px;
  }

  .imagen1,
  .imagen2 {
    width: calc(100% - 40px);
    height: auto;
    margin: 10px auto;
    max-width: 100%;
  }

  .descripcion1,
  .descripcion2 {
    padding: 20px;
  }

  .descripcion1 h4,
  .descripcion2 h4 {
    margin-top: 10px;
    font-size: 24pt;
  }

  .descripcion1 p,
  .descripcion2 p {
    font-size: 14pt;
    margin-top: 30px;
  }
}
