.header {
  background-color: #423275;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  margin-right: 10px; /* Ajusta el espacio entre el logo y el texto */
}

.brand-name {
  color: #ffffff;
  font-size: 1.5rem; /* Ajusta el tamaño de la fuente según tu diseño */
  margin: 0;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #ffffff;
}
