.footer {
  background-color: #423275;
  color: #ffffff;
  width: 100%;
  padding: 2rem;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  margin: 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-content p {
  margin: 0.5rem 0;
}

.icon-row {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.icon-shipping {
  font-size: 1.5rem;
}

.icon-link {
  color: #ffffff; /* Asegura que el color de los íconos sea blanco */
  border: 1px solid #ffffff; /* Contorno blanco del círculo */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px; /* Ajustar según el tamaño deseado */
  height: 30px; /* Ajustar según el tamaño deseado */
  text-decoration: none;
}

.icon-link:hover {
  color: #f2bac9; /* Color al pasar el mouse por encima */
}
