.footer {
  font-family: "Montserrat", sans-serif;
  background-color: #423275;
  color: #f5e4d5;
  height: 453px;
  width: 100%;
  padding: 2rem;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-content h4 {
  font-size: 20px;
  color: #f5e4d5;
  margin: 0;
  padding: 0;
  background-color: #423275;
}

.footer-content p {
  font-size: 15px;
  color: #f5e4d5;
  margin-top: 0;
}

.icon-row {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.icon-shipping {
  font-size: 1.5rem;
}

.icon-link {
  color: #f5e4d5;
  border: 1px solid #f5e4d5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40.13px;
  text-decoration: none;
}

.icon-link:hover {
  color: #f2bac9;
}

/* ESTILOS PARA DISPOSITIVOS PEQUEÑOS */
@media (max-width: 768px) {
  .footer-content h4 {
    font-size: 14pt;
  }
  .footer-content p {
    font-size: 14px;
  }
}
