body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f5e4d5;
}

.App {
  text-align: center;
  padding-top: 80px; /* Ajusta según la altura del header */
  box-sizing: border-box;
}
